<section ng-controller='formController'>
  <div class="container-fluid form-container">
      <h1 class="header1">Get Started</h1>
      <hr class="xmargin-btm">
      <!-- form -->
      <form class="form" novalidate>
        <div class="status-btn">
          <div>
            <label class="field-label" for="status">Status:</label>
          </div>
          <select name="status" ng-model="status">
            <option value="">---Please select---</option>
            <option value="queued">Queued</option>
            <option value="applied">Applied</option>
            <option value="in_progress">In Progress</option>
            <option value="rejected">Rejected</option>
          </select>

          <!-- company -->
          <div>
            <label class="field-label"> Company information: </label>
          </div>
          <input class="input" type="text" ng-model="company" placeholder="Company">

          <!-- title -->
          <input class="input" type="text" ng-model="title" placeholder="Title">

          <!-- city -->
          <input class="input" type="text" ng-model="city" placeholder="City">

          <!-- state -->
          <input class="input" type="text" ng-model="state" placeholder="State">

          <!-- website -->
          <input class="input" type="text" ng-model="website" placeholder="Company Website">

          <div>
            <label class="field-label"> Application Specifications: </label>
          </div>

          <!-- link -->
          <input class="input" type="text" ng-model="link" placeholder="Link">

          <!-- date -->
          <input class="input" type="Date" ng-model="application_date">

          <!-- sitefound -->
          <input class="input" type="text" ng-model="site_found" placeholder="Site Found">

          <!-- siteapplied -->
          <input class="input" type="text" ng-model="site_applied" placeholder="Site Applied">

          <!-- compensation listed yes -->
          <div class="field-spacing">
            <input class="input" type="checkbox" name="compensation_listed" ng-model="compensation_listed" ng-true-value="'yes'" ng-false-value="'no'"> Add Compensation
          </div>

          <!-- compensation listed no -->
          <fieldset class="field-spacing" ng-show="compensation_listed === 'yes'">

            <!-- range -->
            <input class="input" name="compensation_type" type="radio" ng-model="compensation_type" value="range">Range

            <!-- dollar -->
            <input class="input" type="radio" name="compensation_type" ng-model="compensation_type" value="dollar_amount">Dollar Amount

            <!-- compensation -->
            <input class="input" type="text" ng-model="compensation" ng-hide="compensation_type === 'range'" placeholder="Compensation">

            <!-- rangeh -->
            <input class="input" type="text" ng-model="rangeh" placeholder="Range High" ng-hide="compensation_type === 'dollar_amount'">

            <!-- rangel -->
            <input class="input" type="text" ng-model="rangel" placeholder="Range Low" ng-hide="compensation_type === 'dollar_amount'">
          </fieldset>
          <div>
          <input type="submit" ng-click="addJob()" class="btn btn-default">
          </div>
        </div>
      </form>
  </div>
</section>
