body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-wrapper{
  flex: 1;
}

.navigation{
  margin-bottom: 0;
}

.header {
  text-align: center;
  margin-bottom: 0;
  background-image: url(../img/header_background.jpg);
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  color: #9c8b7b;
  padding-right: 5em;
}

.home-header {
  text-align: right;
  margin-bottom: 0;
  background-image: url(../img/header_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #495376;
  height: 720px;
}

.header-add,
.header-remove {
  transition: 1s linear all;
  opacity: 0;
}

.header-add-active,
.header-remove-active {
  opacity: 1;
}

.home-header-add,
.home-header-remove {
  transition: 1s;
  opacity: 0;
}

.home-header-add-active,
.home-header-remove-active {
  opacity: 1;
}

footer{
  background-color: gray;
}

.footer-content-wrapper {
  padding-top: 1em;
  text-align: center;
}

.form-container {
  text-align: center;
}

/*add italics to text*/
.addit {
  font-style: italic;
}

.addb {
  font-weight: bold;
}

.additb {
  font-style: italic;
  font-weight: bold;
}

.error{
  color: red;
  font-size: 2em;
}
.error-login{
  color: red;
}

.form{
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2em;
}

.user-form{
  text-align: center;
}

.form-wrapper{
  width: 33%;
  margin: auto;
}

.field-label {
  font-size: 21px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin: 1em 0em;
}

.field-spacing {
  margin: 1em 0em;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

textarea {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

.xmargin-btm {
  margin-bottom: 0em;
}

.form-error {
  margin: 0 20em 1em;
}

.margin-b-1 {
  margin-bottom: 1em;
}

.input {
  border-radius: 5px;
  margin-right: 1em;
}

input .ng-invalid.ng-dirty{
  color: #A94442;
  border-color: #F2DEDE;
}

::-webkit-input-placeholder .ng-invalid.ng-dirty{
  color: red;
}

::-webkit-datetime-edit {
  color: #999;
}


.job-list-wrapper{
  padding:0 2em;
  text-align: center;
}

.table-titles th{
  text-align: center;
}

.ng-enter {
  transition: 1s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

