.navigation{
  margin-bottom: 0;
}
.header {
  text-align: center;
  margin-bottom: 0;
}
.form-container {
  text-align: center;
}
/*add italics to text*/
.addit {
  font-style: italic;
}
.addb {
  font-weight: bold;
}
.additb {
  font-style: italic;
  font-weight: bold;
}

.error{
  color: red;
  font-size: 2em;
}

.form{
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2em;
}

.input {
  border-radius: 5px;
  margin-right: 1em;
}

::-webkit-datetime-edit {
  color: #999;
}

.field-label {
  font-size: 21px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin: 1em 0em;
}

.field-spacing {
  margin: 1em 0em;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
.xmargin-btm {
  margin-bottom: 0em;
}
